<div class="mt-4 mx-4">
    <table class="table table-bordered"> 
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fotoğraf</th>
                <th>Miktar</th>
                <th>Birimi</th>
                <th>Tutarı</th>
                <th>Toplam Tutarı</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let basketItem of basket.basketItems">
                <td>{{basketItem.product.name}}</td>
                <td><img [src]="'../../../assets//images//'+basketItem.product.imageUrl" style="width:100px"></td>
                <td><input type="number" [value]="basketItem.quantity" id="quantity" class="form-control text-center" (change)="updateBasketItem(basketItem)"></td>
                <td>{{basketItem.product.quantityType.name}}</td>
                <td>{{basketItem.product.price}}</td>
                <td>{{basketItem.totalPrice}}</td>
                <td>
                    <button class="btn btn-outline-danger btn-sm" (click)="deleteBasketItem(basketItem.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div >
        <button class="float-end btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#orderModal">Sepeti Onayla</button>
    </div>
</div>



<div class="modal fade" id="orderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Sipariş Oluştur</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #addForm="ngForm">
                <select [(ngModel)]="order.address" name="addressId" class="form-control mb-4">
                    <option>Adresinizi seçiniz</option>
                    <option *ngFor="let address of addresses" value="{{address.id}}">{{address.address1}} {{address.city}}/{{address.country}}</option>
                </select>
                <select [(ngModel)]="order.paymentTypeId" name="paymentTypeId" class="form-control mb-4">
                    <option>Adresinizi seçiniz</option>
                    <option *ngFor="let paymentType of paymentTypes" value="{{paymentType.id}}">{{paymentType.name}} </option>
                </select>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-outline-primary" (click)="confirmBasket()">Tamamla</button>
                  </div>
            </form>
        </div>
      
      </div>
    </div>
  </div>