<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card px-5 py-5" id="form1">
                <form #registerUser="ngForm" (ngSubmit)="register(registerUser)">
                    <div class="form-data" v-if="!submitted">
                        
                        <div class="forms-inputs mb-4 w-100"> <span>Email</span>
                            <input autocomplete="off" type="text" class="form-control w-100" name="email"  [(ngModel)]="registerModel.email">
                            <div class="invalid-feedback">A valid email is required!</div>
                        </div>
                        <div class="forms-inputs mb-4 w-100"> <span>Kullanıcı adınız</span>
                            <input autocomplete="off" type="text" class="form-control w-100" name="username"  [(ngModel)]="registerModel.username">
                    
                    </div>
                    <div class="forms-inputs mb-4 w-100"> <span>İsim soyisim</span>
                                <input autocomplete="off" type="text" class="form-control w-100" name="fullName" [(ngModel)]="registerModel.fullName">
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" name="password" [(ngModel)]="registerModel.password" #password required minlength="3" [appValid]="password.validity.valid" >
                            <span class="input-group-text" id="basic-addon2">
                                <i (click)="showOrHidePassword(password)"
                                [class]="password.type == 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                            </span>
                            <div class="invalid-feedback">
                                Şifre en az 1 karakter olmalıdır!
                            </div>
                        </div>              
                        <div class="forms-inputs mb-4 w-100">
                            <span>Rol</span>
                            <select class="form-control" name="role" [(ngModel)]="registerModel.roleId">
                                <option>Lütfen rolünüzü seçiniz</option>
                                <option *ngFor="let role of roles" value="{{role.id}}">{{role.title}}</option>
        
                            </select>
                        </div>
                        <div class="mb-3"> 
                            <button v-on:click.stop.prevent="submit" class="btn btn-dark w-100 mb-4">Üye <Ol></Ol>
                            </button> 
                            <button class="btn btn-outline-secondary w-100" routerLink="/login">Üye  misiniz?</button>
                        </div>
                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="float-right">

</div> 