<div class="mt-4 mx-4 row">
  <aside class="col-md-2 p-4 rounded aside">
    <input type="search" class="form-control mt-4" placeholder="Aranacak ürün" [(ngModel)]="search">
    <span class="text-white font-weight-bold categoryTitle">Kategoriler</span>
    <div class="list-group mx-4">

      <a class="categorySubTitle" *ngFor="let category of categories" (click)="getProductsByCategoryId(category)">
        {{category.name}}
      </a>
    </div>
  </aside>

  <section class="col-md-10">
    <div class="row mt-2">
      <div class="col-md-3" style="margin-right: 50px;"
        *ngFor="let productStore of productStores | productStorePipe: search">
        <div class="card" style="width: 20rem;height:300px">
          <img src="../../../assets//images/{{productStore.imageUrl}}" class="card-img-top imageContainer" alt="...">
          <div class="card-body">
            <div class="row">
              <div class="col-md-10">
                <h5 class="card-title"><span class="text-muted">Ürün:</span> {{productStore.name}}</h5>
                <p class="card-text"><span class="text-muted">Mağaza:</span>
                  <span>{{productStore.store.storeName}}</span> </p>
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="get(productStore)">
                  <i class="fa fa-info"></i>
                </button>
              </div>
            </div>             
            <div class="row">
              <div class="col-md-7">
                <p><span class="text-muted">Fiyatı:</span><span class="price">{{productStore.price}} TL</span></p>
              </div>          
            </div>          
        </div>
      </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ürün Detayı</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeBtn" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="addBasket(addForm)">
        <div class="card" >
          <img [src]="'../../../assets//images/'+selectedProductStore.imageUrl" class="card-img-top" alt="...">
          <div class="card-body">
            <label class="text-muted">Ürün Adı</label>
            <h5 class="card-title">{{selectedProductStore.name}}</h5>
            <label class="text-muted">Ürün Açıklaması</label>
            <p class="card-text">{{selectedProductStore?.description}}</p>
            <div class="row">
                <div class="col-lg-4">
                      <label class="text-muted">Mağaza</label>
                      <h6>{{selectedProductStore.store?.storeName}}</h6>
                </div>
                <div class="col-lg-4">
                    <label class="text-muted">Fiyatı</label>
                    <h6 class="price">{{selectedProductStore.price}}</h6>
                </div>
                <div class="col-lg-4">
                  <label class="text-muted">Stok Adedi</label>
                  <h6>{{selectedProductStore.inStock}} {{selectedProductStore.quantityType?.name}}</h6>
                </div>
            </div>            
            <label *ngIf="selectedProductStore.productCategories.length >0">Kategoriler</label>
            <div class="row">
                <div class="col-lg-4" *ngFor="let productCategory of selectedProductStore.productCategories">
                  <p class="info">
                      {{productCategory.category.name }}
                  </p>
                </div>
            </div>       
            <div class="row">
              <div class="col-lg-4">      
              </div>
              <div class="col-lg-4"></div>
              <div class="col-lg-4">
                <button class="btn btn-outline-primary btn-sm"   type="submit">
                  <i class="fa fa-basket"></i>
                   Sepette Ekle
                </button>
              </div>
            </div>
          </div>
        </div>
      </form> 
      </div>
   
    </div>
  </div>
</div>