<div>

  <div class="row mt-4 mx-2">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
            class="rounded-circle img-fluid" style="width: 150px;">
          <h5 class="my-3">{{user.fullName}}</h5>
          <p class="text-muted mb-1">{{user.userName}}</p>
          <p class="text-muted mb-4">{{user.email}}</p>
          <p class="text-muted mb-4">{{user.role.title}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8"> 
      <div class="card mb-4 p-10">
          <div class="row">
              <div class="col-lg-8">
                <p class="text-muted mt-4 mx-4">Adreslerim</p>                
              </div>
              <div class="col-lg-4">
                <button class="btn btn-outline-primary  mt-4 mx-4" style="float: right;">
                  <i class="fa fa-plus"></i>
                  Adres
              </button>
              </div>
          </div>
          <div class="mt-4 p-4">
            <div class="row " *ngFor="let address of addresses" >
               <div class="col-lg-4">

                  <label class="text-muted">Şehir: <strong class="text-dark">{{address.city}}</strong> </label>          
                  <br/>
                  <br/>
                  <label class="text-muted">Address 1: <strong class="text-dark">{{address.address1}}</strong> </label>   
               </div>
               <div class="col-lg-4">
                    <label>Ülke:<strong>{{address.country}}</strong></label>
                    <br/>
                    <br/>
                    <label class="text-muted">Address 2: <strong class="text-dark">{{address.address1}}</strong> </label>   
               </div>
               <div class="col-lg-4">
                    <button class="btn btn-outline-warning">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-outline-danger mx-4">
                      <i class="fa fa-trash"></i>
                    </button>
               </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 mx-2">
      <label class="text-muted">Önceki Siparişlerim</label>
      <table class="table bordered">
          <thead>
            <tr>
              <th> # </th>
              <th>Tarihi</th>
              <th>Ödeme Tipi</th>
              <th>Adres</th>
              <th>Sipariş Detayı</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders let index = index">
              <td>{{index + 1}}</td>
              <td>{{order.createdDate | date:"dd.MM.yyyy HH:mm"}}</td>
              <td>{{order.paymentType.name}}</td>
              <td>{{order.address.address1}} {{order.address.city}}/{{order.address.country}}</td>
              <td>{{order.status}}</td>
         
              <td>
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>Ürün Adı</th>
                              <th>Miktarı</th>
                              <th>Birimi</th>
                              <th>Tutarı</th>
                              <th>Toplam Tutarı</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let orderItem of order.orderItems">
                              <td>{{orderItem.productStore.name}}</td>
                              <td>{{orderItem.quantity}}</td>
                              <td>{{orderItem.productStore.quantityType.name}}</td>
                              <td>{{orderItem.productStore.price}}</td>
                              <td>{{orderItem.totalPrice}}</td>
                          </tr>
                      </tbody>
                  </table>
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</div>

<div class="modal fade" id="addressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Yeni Adres</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
      </div>
      <div class="modal-body">
             <!-- <form #addForm="ngForm">
                    <div class="mb-3">
                       <label class="form-label">Ülke</label>
                       <input type="text" name="country" [(ngModel)]="newAddress.country" #country class="form-control w-100" placeholder="Ülkenizi yazınız">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Şehir</label>
                      <input type="text" [(ngModel)]="newAddress.city" name="city" #city class="form-control w-100" placeholder="Şehrinizi yazınız">
                    </div>
                    <div class="mb-3">
                       <label class="form-label">Adres 1</label>
                       <input type="text" [(ngModel)]="newAddress.address1" name="address1" #address1 class="form-control w-100" placeholder="Ülkenizi yazınız">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Adres 2</label>
                      <input type="text" [(ngModel)]="newAddress.address2" name="address2" #address2 class="form-control w-100" placeholder="Ülkenizi yazınız">
                   </div>
                   <div class="mb-3">
                    <label class="form-label">Posta Kodu</label>
                    <input type="text" [(ngModel)]="newAddress.zipCode" name="zipCode" #zipCode class="form-control w-100" placeholder="Ülkenizi yazınız">
                 </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger"  data-bs-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-outline-primary" (click)="addNewAddress()" >Kaydet</button>
                  </div>
              
             </form> -->
      </div>
    
    </div>
  </div>
</div>