<nav class="navbar navbar-expand-lg " style="background-color: 	#7393B3;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">E-Ticaret</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let nav of navbars">
          <a class="nav-link {{nav.class}}" routerLink="{{nav.link}}" routerLinkActive="active">{{nav.name}}</a>
        </li>
   
       
      </ul>
      
      <div class="d-flex">
        <div class="nav-item mx-2">
          <a  class="nav-link position-relative" routerLink="/basket">
            <i class="fa  fa-basket-shopping" style="font-size: 30px;"></i>
            <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 10px;">
              {{_basketService.basketCount}}
            </span>
            
       
          </a>
       
      </div>
        <div class="nav-item mx-2" *ngIf="!isLoginVisible">
          <a class="nav-link" routerLink="/profile"> 
            <i class="fa-solid fa-user"></i>
          </a>
        </div>
            <div class="nav-item">
                <a *ngIf="isLoginVisible" class="nav-link" routerLink="/login"><i class="fa-solid fa-right-to-bracket"></i>Giriş</a>
             
                <a *ngIf="!isLoginVisible" class="nav-link" (click)="logout()"><i class="fa-solid fa-right-to-bracket"></i>Çıkış</a>
            </div>
      </div>
    </div>
  </div>
</nav>